{% extends 'base.html.twig' %}

{% block title %}New Produit{% endblock %}

{% block body %}
<div class="pr-12 bg-gray-50 bg-opacity-0 max-md:pr-5">
  <div class="flex gap-5 max-md:flex-col max-md:gap-0">
      <aside class="flex flex-col w-[22%] max-md:ml-0 max-md:w-full">
      <nav class="flex flex-col grow items-start py-9 pl-3.5 mx-auto w-full text-2xl text-white whitespace-nowrap bg-slate-900 max-md:mt-10">
        <h1 class="self-center text-3xl font-semibold">GarageGenius</h1>
        <h2 class="mt-16 ml-6 max-md:mt-10 max-md:ml-2.5">Menu</h2>
        <a href="/Dashboard" class="flex gap-3 mt-12 ml-6 max-md:mt-10 max-md:ml-2.5">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/e3a6fa970cfd51a88873c40da8071c2d59e4d1b17cc2ff369c78b9b53089c098?apiKey=8247e33786d041d6ac5b339a992b1663&" class="shrink-0 aspect-square w-[35px]" alt=""/>
          <span class="flex-auto my-auto">Dashboard</span>
        </a>
        <a href="/devis" class="flex gap-3.5 mt-6 ml-5 max-md:ml-2.5">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/bd733b7a7c189fcdb80e7f94712ee1094ce63d3a96d3f1916c50b7c7afa58a70?apiKey=8247e33786d041d6ac5b339a992b1663&" class="shrink-0 aspect-square w-[35px]" alt=""/>
          <span class="flex-auto my-auto">Devis</span>
        </a>
        <a href="#" class="flex gap-3.5 mt-6 ml-5 max-md:ml-2.5">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/29fab34109abc1107b86c35a093db49bce40cd32e0fcce3f28a84cffc0d0f306?apiKey=8247e33786d041d6ac5b339a992b1663&" class="shrink-0 aspect-square w-[35px]" alt=""/>
          <span class="flex-auto my-auto">Factures</span>
        </a>
        <a href="#" class="flex gap-3.5 mt-6 ml-5 max-md:ml-2.5">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/1f40c3609e448bd23d517f48e6a6a4472b97a7f6f09ed287da74016d03fccbcb?apiKey=8247e33786d041d6ac5b339a992b1663&" class="shrink-0 aspect-square w-[35px]" alt=""/>
          <span class="my-auto">Clients</span>
        </a>
        <a href="/produit" class="flex gap-2.5 items-start self-stretch px-6 py-3 mt-5 font-semibold rounded-none bg-stone-300 text-slate-900 max-md:px-5">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/67ac7f650c288336b821974d7982b7e3a0e3542045945234a9e668aac6d902f6?apiKey=8247e33786d041d6ac5b339a992b1663&" alt="" class="shrink-0 self-start aspect-square w-[37px]" />
          <span class="flex-auto my-auto">Prix</span>
        </a>
        <a href="#" class="flex gap-4 mt-8 ml-7 max-md:ml-2.5">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/780e3a624ea18f214908211eaa3f8d513c9a41ba9fe2fcbd73878cf28c689c71?apiKey=8247e33786d041d6ac5b339a992b1663&" class="shrink-0 aspect-square w-[27px]" alt=""/>
          <span class="flex-auto my-auto">Utilisateurs</span>
        </a>
        <a href="#" class="flex gap-4 mt-10 ml-7 max-md:ml-2.5">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/7fdc27363d67f92162046d3f062d7d61cca8d0475f5fac46476dd5b34acfea79?apiKey=8247e33786d041d6ac5b339a992b1663&" class="shrink-0 aspect-square w-[27px]" alt=""/>
          <span class="flex-auto">Réglages</span>
        </a>
        <a href="#" class="flex gap-3 ml-6 mt-[659px] max-md:mt-10 max-md:ml-2.5">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/ade0774290c5caa3005d8283fa3d504a825b5e789045ba3e1f954e996b278357?apiKey=8247e33786d041d6ac5b339a992b1663&" class="shrink-0 w-8 aspect-square" alt=""/>
          <span class="flex-auto my-auto">Déconnexion</span>
        </a>
      </nav>
    </aside>
    <main class="flex flex-col ml-5 w-[78%] max-md:ml-0 max-md:w-full">
      <section class="flex flex-col mt-6 text-sm max-md:mt-10 max-md:max-w-full">
        <a href="{{ path('app_produit_index') }}"> <- Retour à la liste</a>
        <article class="flex flex-col py-6 font-medium text-white bg-white rounded-3xl shadow-sm max-md:mt-10 max-md:max-w-full">
            <div class="flex flex-col px-6 text-black max-md:px-5 max-md:max-w-full">
                <h3 class="text-2xl font-semibold text-slate-900 max-md:max-w-full">Créer un nouveau produit</h3>
                {{ include('produit/_form.html.twig', {'button_label': 'Enregistrer'}) }}
        </article>
      </section>
    </main>
  </div>
</div>
{% endblock %}
