{% extends 'base.html.twig' %}

{% block title %}Todo Details{% endblock %}

{% block body %}
<div class="container">
    <h1>Todo Details</h1>
    <div>
        <p><strong>ID:</strong> {{ todo.id }}</p>
        <p><strong>Title:</strong> {{ todo.title }}</p>
        <p><strong>Status:</strong> {% if todo.done %}Done{% else %}Not Done{% endif %}</p>
    </div>
</div>
{% endblock %}
