{% extends 'base.html.twig' %}

{% block title %}Connexion/inscription{% endblock %}

{% block body %}
<div class="pr-12 bg-white max-md:pr-5">
  <div class="flex gap-5 max-md:flex-col max-md:gap-0">
    <aside class="flex flex-col w-[22%] max-md:ml-0 max-md:w-full">
      <nav class="flex flex-col grow items-start py-9 pl-3.5 mx-auto w-full text-2xl text-white whitespace-nowrap bg-slate-900 max-md:mt-10">
        <h1 class="self-center text-3xl font-semibold">GarageGenius</h1>
        <h2 class="mt-16 ml-6 max-md:mt-10 max-md:ml-2.5">Menu</h2>
        <a href="#" class="flex gap-3 self-stretch px-6 py-3 mt-10 font-semibold rounded-none bg-stone-300 text-slate-900 max-md:px-5">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/763378328148a5ce9e546c97e25f709357c899ba3232106c44e29d9b917048c9?apiKey=8247e33786d041d6ac5b339a992b1663&" class="shrink-0 aspect-square w-[35px]" alt="" />
          <span class="flex-auto my-auto">Dashboard</span>
        </a>
        <a href="#" class="flex gap-3.5 mt-5 ml-5 max-md:ml-2.5">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/e1a08f81dd9a3f71030bbbf93a92adade2c57a5496e529bb960b0a5207127dce?apiKey=8247e33786d041d6ac5b339a992b1663&" class="shrink-0 aspect-square w-[35px]" alt="" />
          <span class="my-auto">Devis</span>
        </a>
        <a href="#" class="flex gap-3.5 mt-7 ml-5 max-md:ml-2.5">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/427f47f08010362071e7146e836166e906ab89efc1c3e135a01736d6ad58f72f?apiKey=8247e33786d041d6ac5b339a992b1663&" class="shrink-0 aspect-square w-[35px]" alt="" />
          <span class="flex-auto my-auto">Factures</span>
        </a>
        <a href="#" class="flex gap-3.5 mt-8 ml-5 max-md:ml-2.5">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/1f40c3609e448bd23d517f48e6a6a4472b97a7f6f09ed287da74016d03fccbcb?apiKey=8247e33786d041d6ac5b339a992b1663&" class="shrink-0 aspect-square w-[35px]" alt="" />
          <span class="my-auto">Clients</span>
        </a>
        <a href="#" class="flex gap-2.5 mt-9 ml-6 max-md:ml-2.5">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/bfada889d5bc084df1a98f963667bd17c82d544043a58c8acc6d68b6c11d936b?apiKey=8247e33786d041d6ac5b339a992b1663&" class="shrink-0 aspect-square w-[37px]" alt="" />
          <span class="my-auto">Prix</span>
        </a>
        <a href="#" class="flex gap-4 mt-8 ml-7 max-md:ml-2.5">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/aa1b02c59b05bed46322cef152e775dae6c525f8cd28d27078fb72d2b87bbbd8?apiKey=8247e33786d041d6ac5b339a992b1663&" class="shrink-0 aspect-square w-[27px]" alt="" />
          <span class="flex-auto my-auto">Utilisateurs</span>
        </a>
        <a href="#" class="flex gap-4 mt-10 ml-7 max-md:ml-2.5">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/e967ded2e143bc99928b0369616c623da3d85f0e5ddc837f83f7f47cb41c62be?apiKey=8247e33786d041d6ac5b339a992b1663&" class="shrink-0 aspect-square w-[27px]" alt="" />
          <span class="flex-auto">Réglages</span>
        </a>
        <a href="#" class="flex gap-3 ml-6 mt-[655px] max-md:mt-10 max-md:ml-2.5">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/ade0774290c5caa3005d8283fa3d504a825b5e789045ba3e1f954e996b278357?apiKey=8247e33786d041d6ac5b339a992b1663&" class="shrink-0 w-8 aspect-square" alt="" />
          <span class="flex-auto my-auto">Déconnexion</span>
        </a>
      </nav>
    </aside>
    <main class="flex flex-col ml-5 w-[78%] max-md:ml-0 max-md:w-full">
      <section class="flex flex-col self-stretch my-auto max-md:mt-10 max-md:max-w-full">
        <header class="flex gap-2.5 self-start text-3xl font-semibold whitespace-nowrap text-slate-900">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/81a071407f35f9c596794b6653482bc9e5852ae800d3b881656176eca8efd027?apiKey=8247e33786d041d6ac5b339a992b1663&" class="shrink-0 w-12 aspect-square" alt="" />
          <h2 class="flex-auto my-auto">Dashboard</h2>
        </header>
        <div class="mt-14 max-md:mt-10 max-md:max-w-full">
          <div class="flex gap-5 max-md:flex-col max-md:gap-0">
            <article class="flex flex-col w-3/12 max-md:ml-0 max-md:w-full">
              <div class="flex flex-col grow px-6 py-11 w-full text-2xl font-semibold bg-white rounded-3xl shadow-sm max-md:px-5 max-md:mt-9">
                <h3 class="text-slate-900">Factures émises</h3>
                <p class="self-center mt-8 text-stone-300">150</p>
              </div>
            </article>
            <article class="flex flex-col ml-5 w-3/12 max-md:ml-0 max-md:w-full">
              <div class="flex flex-col grow px-10 py-11 w-full text-2xl font-semibold bg-white rounded-3xl shadow-sm max-md:px-5 max-md:mt-9">
                <h3 class="text-slate-900">Devis générés</h3>
                <p class="self-center mt-7 text-stone-300">75</p>
              </div>
            </article>
            <article class="flex flex-col ml-5 w-3/12 max-md:ml-0 max-md:w-full">
              <div class="flex flex-col grow px-4 py-11 w-full text-2xl font-semibold bg-white rounded-3xl shadow-sm max-md:mt-9">
                <h3 class="text-slate-900">Total des revenus</h3>
                <p class="self-center mt-8 text-stone-300">35 000 €</p>
              </div>
            </article>
            <article class="flex flex-col ml-5 w-3/12 max-md:ml-0 max-md:w-full">
              <div class="flex flex-col grow px-20 py-11 w-full text-2xl font-semibold whitespace-nowrap bg-white rounded-3xl shadow-sm max-md:px-5 max-md:mt-9">
                <h3 class="text-slate-900 max-md:mx-1">Clients</h3>
                <p class="self-center mt-8 text-stone-300">300</p>
              </div>
            </article>
          </div>
        </div>
        <div class="mt-9 max-md:max-w-full">
          <div class="flex gap-5 max-md:flex-col max-md:gap-0">
            <section class="flex flex-col w-6/12 max-md:ml-0 max-md:w-full">
              <div class="flex flex-col items-start pt-6 pr-20 pb-20 pl-6 w-full text-sm bg-white rounded-3xl shadow-sm text-slate-900 max-md:px-5 max-md:mt-9 max-md:max-w-full">
                <h3 class="text-2xl font-semibold">Activités recentes</h3>
                <ul class="mt-6 list-none">
                  <li class="mt-5">Nouvelle facture créée pour John Doe 500€</li>
                  <li class="mt-5">Nouvelle facture créée pour John Doe 500€</li>
                  <li class="mt-5">Nouvelle facture créée pour John Doe 500€</li>
                  <li class="mt-5">Nouvelle facture créée pour John Doe 500€</li>
                  <li class="mt-5">Nouvelle facture créée pour John Doe 500€</li>
                  <li class="mt-5">Nouvelle facture créée pour John Doe 500€</li>
                </ul>
              </div>
            </section>
            <section class="flex flex-col ml-5 w-6/12 max-md:ml-0 max-md:w-full">
              <div class="flex flex-col grow items-start pt-6 pr-20 pb-20 pl-6 w-full text-sm bg-white rounded-3xl shadow-sm text-slate-900 max-md:px-5 max-md:mt-9 max-md:max-w-full">
                <h3 class="text-2xl font-semibold">Activités a réaliser aujourd'hui</h3>
                <ul class="mt-5 list-none">
                  <li class="mt-5">Pare choc avant megane 4</li>
                  <li class="mt-5">Restitution client Mr John Doe</li>
                  <li class="mt-6">Changer plaquette de freins GT3</li>
                  <li class="mt-5">Changer embrayage RS6</li>
                  <li class="mt-5">Changer plaquette de freins GT3</li>
                  <li class="mt-5">Pare choc avant megane 4</li>
                </ul>
              </div>
            </section>
          </div>
        </div>
        <section class="flex flex-col px-6 pt-6 pb-14 mt-9 bg-white rounded-3xl shadow-sm max-md:px-5 max-md:max-w-full">
          <h3 class="text-2xl font-semibold text-slate-900 max-md:max-w-full">Derniers devis</h3>
          <table class="mt-10 text-sm text-black bg-white rounded border border-solid border-zinc-400 max-md:max-w-full">
            <thead>
              <tr class="font-semibold whitespace-nowrap bg-white bg-opacity-0 text-slate-900">
                <th class="py-px text-xs leading-4 text-center text-black border-t border-l border-solid bg-black bg-opacity-10 border-zinc-400">Numéro</th>
                <th class="text-center border-t border-l border-solid bg-black bg-opacity-10 border-zinc-400">Client</th>
                <th class="text-center border-t border-l border-solid bg-black bg-opacity-10 border-zinc-400">Montant</th>
                <th class="text-center border-t border-l border-solid bg-black bg-opacity-10 border-zinc-400">Date</th>
                <th class="border-t border-l border-solid bg-black bg-opacity-10 border-zinc-400">Statut</th>
              </tr>
            </thead>
            <tbody>
              <tr class="bg-white bg-opacity-0">
                <td class="whitespace-nowrap border-t border-l border-solid bg-white bg-opacity-0 border-zinc-400 px-3 py-2.5">D001</td>
                <td class="border-t border-l border-solid bg-white bg-opacity-0 border-zinc-400 px-3 py-2.5">John Doe</td>
                <td class="whitespace-nowrap border-t border-l border-solid bg-white bg-opacity-0 border-zinc-400 px-3 py-2.5">500€</td>
                <td class="whitespace-nowrap border-t border-l border-solid bg-white bg-opacity-0 border-zinc-400 px-3 py-2.5">01/06/2024</td>
                <td class="whitespace-nowrap border-t border-l border-solid bg-white bg-opacity-0 border-zinc-400 px-3 py-2.5">Payée</td>
              </tr>
              <tr class="bg-white bg-opacity-0">
                <td class="whitespace-nowrap border-t border-l border-solid bg-white bg-opacity-0 border-zinc-400 px-3 py-2.5">D002</td>
                <td class="border-t border-l border-solid bg-white bg-opacity-0 border-zinc-400 px-3 py-2.5">John Doe</td>
                <td class="whitespace-nowrap border-t border-l border-solid bg-white bg-opacity-0 border-zinc-400 px-3 py-2.5">500€</td>
                <td class="whitespace-nowrap border-t border-l border-solid bg-white bg-opacity-0 border-zinc-400 px-3 py-2.5">01/06/2024</td>
                <td class="border-t border-l border-solid bg-white bg-opacity-0 border-zinc-400 px-3 py-2.5">En attente</td>
              </tr>
              <tr class="bg-white bg-opacity-0">
                <td class="whitespace-nowrap border-t border-l border-solid bg-white bg-opacity-0 border-zinc-400 px-3 py-2.5">D003</td>
                <td class="border-t border-l border-solid bg-white bg-opacity-0 border-zinc-400 px-3 py-2.5">John Doe</td>
                <td class="whitespace-nowrap border-t border-l border-solid bg-white bg-opacity-0 border-zinc-400 px-3 py-2.5">500€</td>
                <td class="whitespace-nowrap border-t border-l border-solid bg-white bg-opacity-0 border-zinc-400 px-3 py-2.5">01/06/2024</td>
                <td class="whitespace-nowrap border-t border-l border-solid bg-white bg-opacity-0 border-zinc-400 px-3 py-2.5">Payée</td>
              </tr>
            </tbody>
          </table>
        </section>
        <section class="flex flex-col px-6 pt-6 pb-14 mt-9 bg-white rounded-3xl shadow-sm max-md:px-5 max-md:max-w-full">
          <h3 class="text-2xl font-semibold text-slate-900 max-md:max-w-full">Dernières factures</h3>
          <table class="mt-9 text-sm text-black bg-white rounded border border-solid border-zinc-400 max-md:max-w-full">
            <thead>
              <tr class="font-semibold whitespace-nowrap bg-white bg-opacity-0 text-slate-900">
                <th class="py-px text-xs leading-4 text-center text-black border-t border-l border-solid bg-black bg-opacity-10 border-zinc-400">Numéro</th>
                <th class="text-center border-t border-l border-solid bg-black bg-opacity-10 border-zinc-400">Client</th>
                <th class="text-center border-t border-l border-solid bg-black bg-opacity-10 border-zinc-400">Montant</th>
                <th class="text-center border-t border-l border-solid bg-black bg-opacity-10 border-zinc-400">Date</th>
                <th class="border-t border-l border-solid bg-black bg-opacity-10 border-zinc-400">Statut</th>
              </tr>
            </thead>
            <tbody>
              <tr class="bg-white bg-opacity-0">
                <td class="whitespace-nowrap border-t border-l border-solid bg-white bg-opacity-0 border-zinc-400 px-3 py-2.5">F001</td>
                <td class="border-t border-l border-solid bg-white bg-opacity-0 border-zinc-400 px-3 py-2.5">John Doe</td>
                <td class="whitespace-nowrap border-t border-l border-solid bg-white bg-opacity-0 border-zinc-400 px-3 py-2.5">500€</td>
                <td class="whitespace-nowrap border-t border-l border-solid bg-white bg-opacity-0 border-zinc-400 px-3 py-2.5">01/06/2024</td>
                <td class="whitespace-nowrap border-t border-l border-solid bg-white bg-opacity-0 border-zinc-400 px-3 py-2.5">Payée</td>
              </tr>
              <tr class="bg-white bg-opacity-0">
                <td class="whitespace-nowrap border-t border-l border-solid bg-white bg-opacity-0 border-zinc-400 px-3 py-2.5">F002</td>
                <td class="border-t border-l border-solid bg-white bg-opacity-0 border-zinc-400 px-3 py-2.5">John Doe</td>
                <td class="whitespace-nowrap border-t border-l border-solid bg-white bg-opacity-0 border-zinc-400 px-3 py-2.5">500€</td>
                <td class="whitespace-nowrap border-t border-l border-solid bg-white bg-opacity-0 border-zinc-400 px-3 py-2.5">01/06/2024</td>
                <td class="border-t border-l border-solid bg-white bg-opacity-0 border-zinc-400 px-3 py-2.5">En attente</td>
              </tr>
              <tr class="bg-white bg-opacity-0">
                <td class="whitespace-nowrap border-t border-l border-solid bg-white bg-opacity-0 border-zinc-400 px-3 py-2.5">F003</td>
                <td class="border-t border-l border-solid bg-white bg-opacity-0 border-zinc-400 px-3 py-2.5">John Doe</td>
                <td class="whitespace-nowrap border-t border-l border-solid bg-white bg-opacity-0 border-zinc-400 px-3 py-2.5">500€</td>
                <td class="whitespace-nowrap border-t border-l border-solid bg-white bg-opacity-0 border-zinc-400 px-3 py-2.5">01/06/2024</td>
                <td class="whitespace-nowrap border-t border-l border-solid bg-white bg-opacity-0 border-zinc-400 px-3 py-2.5">Payée</td>
              </tr>
            </tbody>
          </table>
        </section>
      </section>
    </main>
  </div>
</div>
{% endblock %}
