{% extends 'base.html.twig' %}

{% block title %}Connexion/inscription{% endblock %}

{% block body %}
<section class="flex overflow-hidden relative flex-col items-center px-16 pt-14 pb-9 min-h-[1345px] max-md:px-5">
  <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/2dcf5d9489e98e396168fe824351811316e64c09fb527db12388dce9c09ba3a5?apiKey=8247e33786d041d6ac5b339a992b1663&" alt="" class="object-cover absolute inset-0 size-full" />
  <section class="flex relative flex-col items-center w-full max-w-[1206px] max-md:max-w-full">
    <h1 class="text-4xl font-semibold text-white">GarageGenius</h1>
    <section class="mt-16 w-full max-w-[1130px] max-md:mt-10 max-md:max-w-full">
      <div class="flex gap-5 max-md:flex-col max-md:gap-0">
        <form class="flex flex-col w-6/12 max-md:ml-0 max-md:w-full">
          <div class="flex flex-col px-12 py-7 w-full text-xl font-semibold text-black bg-white rounded-3xl max-md:px-5 max-md:mt-8 max-md:max-w-full">
            <h2 class="mx-8 text-2xl max-md:mx-2.5">Je suis déjà client GarageGenius</h2>
            <label for="existingUsernameEmail" class="mt-20 max-md:mt-10 max-md:max-w-full">Nom d’utilisateur ou email :</label>
            <input id="existingUsernameEmail" type="text" placeholder="Nom d’utilisateur ou email :" class="justify-center py-3.5 mt-4 text-sm italic font-thin bg-stone-300 bg-opacity-30 max-md:max-w-full" aria-label="Nom d’utilisateur ou email :" />
            <label for="existingPassword" class="mt-11 max-md:mt-10 max-md:max-w-full">Mot de passe :</label>
            <input id="existingPassword" type="password" placeholder="Mot de passe :" class="justify-center py-3 mt-3 text-sm italic font-thin bg-stone-300 bg-opacity-30 max-md:max-w-full" aria-label="Mot de passe :" />
            <button type="submit" class="justify-center self-center px-10 py-6 mt-14 text-white rounded-2xl bg-slate-900 max-md:px-5 max-md:mt-10">Se connecter</button>
            <a href="#" class="self-center mt-3.5 text-sm italic">Mot de passe oublié</a>
          </div>
        </form>
        <form class="flex flex-col ml-5 w-6/12 max-md:ml-0 max-md:w-full">
          <div class="flex flex-col grow px-11 py-8 w-full text-xl font-semibold text-black bg-white rounded-3xl max-md:px-5 max-md:mt-8 max-md:max-w-full">
            <h2 class="self-center text-2xl text-center">Je n'ai pas encore de compte<br />GarageGenius</h2>
            <label for="newUsername" class="mt-5 max-md:max-w-full">Nom d’utilisateur (nom du garage) :</label>
            <input id="newUsername" type="text" placeholder="Nom d’utilisateur :" class="justify-center py-3.5 mt-3 text-sm italic font-thin bg-stone-300 bg-opacity-30 max-md:max-w-full" aria-label="Nom d’utilisateur :" />
            <label for="address" class="mt-5 max-md:max-w-full">Adresse postale :</label>
            <input id="address" type="text" placeholder="Adresse du garage :" class="justify-center py-3 mt-3 text-sm italic font-thin bg-stone-300 bg-opacity-30 max-md:max-w-full" aria-label="Adresse du garage :" />
            <label for="phone" class="mt-5 max-md:max-w-full">Numéro de téléphone :</label>
            <input id="phone" type="tel" placeholder="Numéro de téléphone :" class="justify-center py-3 mt-3 text-sm italic font-thin bg-stone-300 bg-opacity-30 max-md:max-w-full" aria-label="Numéro de téléphone :" />
            <label for="newEmail" class="mt-5 max-md:max-w-full">Email :</label>
            <input id="newEmail" type="email" placeholder="Adresse mail :" class="justify-center py-3.5 mt-4 text-sm italic font-thin bg-stone-300 bg-opacity-30 max-md:max-w-full" aria-label="Adresse mail :" />
            <label for="newPassword" class="mt-5 max-md:max-w-full">Mot de passe :</label>
            <input id="newPassword" type="password" placeholder="Mot de passe :" class="justify-center py-3 mt-3 text-sm italic font-thin bg-stone-300 bg-opacity-30 max-md:max-w-full" aria-label="Mot de passe :" />
            <div class="flex gap-3 mt-8 text-xs max-md:flex-wrap">
              <input id="terms" type="checkbox" class="shrink-0 border border-black border-solid h-[13px] w-[13px]" />
              <label for="terms" class="flex-auto max-md:max-w-full">
                J’accepte les <span class="underline">Conditions générales de service GarageGenius</span>
              </label>
            </div>
            <div class="flex gap-3 mt-5 text-xs max-md:flex-wrap">
              <input id="newsletter" type="checkbox" class="shrink-0 self-start border border-black border-solid h-[13px] w-[13px]" />
              <label for="newsletter" class="flex-auto max-md:max-w-full">
                J'accepte de recevoir des e-mails relatifs aux nouveautés et offres commerciales de GarageGenius.
              </label>
            </div>
            <button type="submit" class="justify-center self-center px-5 py-5 mt-10 text-white rounded-2xl bg-slate-900">Creer un compte</button>
            <a href="#" class="self-center mt-3.5 text-sm italic">Mot de passe oublié</a>
          </div>
        </form>
      </div>
    </section>
    <p class="self-stretch mt-24 text-xl text-black underline max-md:mt-10 max-md:max-w-full">
      Les informations fournies à travers ce formulaire sont collectées avec votre consentement et sont destinées à GarageGenius en sa qualité de responsable du traitement. Elles pourront être transmises à ses sous-traitants agissant sur instructions de GarageGenius ainsi qu’à ses partenaires commerciaux. Dans ce dernier cas, et sous réserve que le partenaire commercial ait signé des accords de confidentialité appropriés, les données pourront être transférées à l'extérieur de votre région. Les données de ce formulaire sont collectées dans le but de gérer la relation client, d'assurer un suivi commercial et de se conformer à la réglementation en vigueur. Les données de votre compte client sont conservées pendant toute la durée de votre relation avec GarageGenius et jusqu'à trente-six (36) mois après sa clôture. Certaines données, telles que les informations de facturation, peuvent être conservées plus longtemps conformément à la réglementation en vigueur. Vous avez le droit de déposer une plainte auprès de l'autorité de protection des données compétente et de demander l'accès, la rectification, la suppression, la limitation, la portabilité et l'opposition à l'utilisation de vos données personnelles pour des motifs légitimes. Pour exercer ces droits, veuillez utiliser notre <span class="font-semibold underline">formulaire de demande dédié.</span>
    </p>
  </section>
</section>
{% endblock %}
