{% extends 'base.html.twig' %}

{% block title %}Modifier le devis{% endblock %}

{% block body %}
    <h1>Modifier le devis</h1>

    {{ include('devis/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('devis_index') }}">Retour à la liste</a>
{% endblock %}
