{% extends 'base.html.twig' %}

{% block title %}Factures{% endblock %}

{% block body %}
<div class="pr-12 bg-neutral-100 max-md:pr-5">
  <div class="flex gap-5 max-md:flex-col max-md:gap-0">
    <aside class="flex flex-col w-[22%] max-md:ml-0 max-md:w-full">
      <nav class="flex flex-col grow items-start py-9 pl-3.5 mx-auto w-full text-2xl text-white whitespace-nowrap bg-slate-900 max-md:mt-10">
        <h1 class="self-center text-3xl font-semibold">GarageGenius</h1>
        <h2 class="mt-16 ml-6 max-md:mt-10 max-md:ml-2.5">Menu</h2>
        <a href="#" class="flex gap-3 mt-12 ml-6 max-md:mt-10 max-md:ml-2.5">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/57f013a2c5eaa77571cc28ba7c078b525f61f367812b16eb8b9858c002cfb48c?apiKey=8247e33786d041d6ac5b339a992b1663&" class="shrink-0 aspect-square w-[35px]" alt="" />
          <span class="flex-auto my-auto">Dashboard</span>
        </a>
        <a href="#" class="flex gap-3.5 mt-8 ml-5 max-md:ml-2.5">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/7cdb912cee4243a8c3a632dfd046fb52cc7e1bb675a7a5e2832d4d370928f24d?apiKey=8247e33786d041d6ac5b339a992b1663&" class="shrink-0 aspect-square w-[35px]" alt="" />
          <span class="my-auto">Devis</span>
        </a>
        <a href="#" class="flex gap-3.5 self-stretch px-5 py-3 mt-6 font-semibold rounded-none bg-stone-300 text-slate-900 max-md:px-5">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/40c3671636e3597c1aa6316c7611869332cd027540606e60f21dd00cc5acb554?apiKey=8247e33786d041d6ac5b339a992b1663&" class="shrink-0 aspect-square w-[35px]" alt="" />
          <span class="flex-auto my-auto">Factures</span>
        </a>
        <a href="#" class="flex gap-3.5 mt-3 ml-5 max-md:ml-2.5">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/36326721d14a6095907e09d4c63ffd803395c9b252b3ee9bc069791a791f2a02?apiKey=8247e33786d041d6ac5b339a992b1663&" class="shrink-0 aspect-square w-[35px]" alt="" />
          <span class="my-auto">Clients</span>
        </a>
        <a href="#" class="flex gap-2.5 mt-9 ml-6 max-md:ml-2.5">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/1c47c62efe91b6878db31d3e5b8abde1d7faccca153f86a7ecf64647307ff26b?apiKey=8247e33786d041d6ac5b339a992b1663&" class="shrink-0 aspect-square w-[37px]" alt="" />
          <span class="my-auto">Prix</span>
        </a>
        <a href="#" class="flex gap-4 mt-8 ml-7 max-md:ml-2.5">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/de589a895124f077e9adca2776809940bb50164b4ae02b810c62f6b053a4ff9a?apiKey=8247e33786d041d6ac5b339a992b1663&" class="shrink-0 aspect-square w-[27px]" alt="" />
          <span class="flex-auto my-auto">Utilisateurs</span>
        </a>
        <a href="#" class="flex gap-4 mt-10 ml-7 max-md:ml-2.5">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/15e5f7768e9c23f34c371db34a35f76ce650a962875109bec3e33bc61c4b3705?apiKey=8247e33786d041d6ac5b339a992b1663&" class="shrink-0 aspect-square w-[27px]" alt="" />
          <span class="flex-auto">Réglages</span>
        </a>
        <a href="#" class="flex gap-3 ml-6 mt-[659px] max-md:mt-10 max-md:ml-2.5">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/a3f0a623ceb557cea0148d01dc9ef0f73af94930b03a8f887496e36c052c9a90?apiKey=8247e33786d041d6ac5b339a992b1663&" class="shrink-0 w-8 aspect-square" alt="" />
          <span class="flex-auto my-auto">Déconnexion</span>
        </a>
      </nav>
    </aside>
    <main class="flex flex-col ml-5 w-[78%] max-md:ml-0 max-md:w-full">
      <section class="flex flex-col mt-6 text-sm max-md:mt-10 max-md:max-w-full">
        <header class="flex gap-2.5 self-start text-3xl font-semibold whitespace-nowrap text-slate-900">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/ea309900440d355f76abf6877fc6fae17ca99b36ae9d2f99f69787c656e8dff7?apiKey=8247e33786d041d6ac5b339a992b1663&" class="shrink-0 w-12 aspect-square" alt="" />
          <h2 class="flex-auto my-auto">Factures</h2>
        </header>
        <section class="flex flex-col py-6 mt-20 font-medium text-white bg-white rounded-3xl shadow-sm max-md:mt-10 max-md:max-w-full">
          <div class="flex flex-col px-6 text-black max-md:px-5 max-md:max-w-full">
            <h3 class="text-2xl font-semibold text-slate-900 max-md:max-w-full">Créer un nouveau devis</h3>
            <form>
              <label for="clientName" class="block mt-8 max-md:max-w-full">Nom du client :</label>
              <input id="clientName" type="text" placeholder="Nom et prénom" class="justify-center items-start px-3 py-2.5 mt-2.5 italic font-extralight bg-white rounded-md border border-black border-solid w-full max-md:pr-5 max-md:max-w-full" />
              <label for="serviceDetail" class="block mt-5 max-md:max-w-full">Détail du service :</label>
              <select id="serviceDetail" class="flex gap-5 px-3.5 py-3 mt-2.5 font-extralight bg-white rounded-md border border-black border-solid w-full max-md:flex-wrap max-md:max-w-full">
                <option value="" selected disabled class="italic">Sélectionnez un service</option>
              </select>
            </form>
          </div>
          <button class="justify-center self-end px-3 py-2.5 mr-6 rounded-md bg-slate-900 max-md:mr-2.5">Ajouter un service</button>
          <button class="justify-center self-start p-3 mt-7 ml-6 rounded-md bg-slate-900 max-md:ml-2.5">Créer une facture</button>
        </section>
        <section class="flex flex-col px-6 pt-6 pb-20 mt-20 bg-white rounded-3xl shadow-sm max-md:px-5 max-md:mt-10 max-md:max-w-full">
          <h3 class="text-2xl font-semibold text-slate-900 max-md:max-w-full">Liste des factures</h3>
          <form class="flex gap-5 mt-6 max-md:flex-wrap max-md:max-w-full">
            <input type="search" placeholder="Rechercher un devis" class="grow justify-center items-start p-3 italic font-extralight text-black bg-white rounded-md border border-black border-solid w-fit max-md:pr-5 max-md:max-w-full" />
            <button type="submit" class="justify-center p-3 font-medium text-white whitespace-nowrap rounded-md bg-slate-900">Rechercher</button>
          </form>
          <table class="mt-4 mb-64 text-black bg-white rounded border border-solid border-zinc-400 max-md:mb-10 max-md:max-w-full">
            <thead>
              <tr class="font-semibold text-center whitespace-nowrap bg-white bg-opacity-0 text-slate-900">
                <th class="px-3 py-3 text-xs leading-4 text-black border-t border-l border-solid bg-black bg-opacity-10 border-zinc-400">Numéro</th>
                <th class="px-3 py-2.5 border-t border-l border-solid bg-black bg-opacity-10 border-zinc-400">Client</th>
                <th class="px-3 py-2.5 border-t border-l border-solid bg-black bg-opacity-10 border-zinc-400">Montant</th>
                <th class="px-3 py-2.5 border-t border-l border-solid bg-black bg-opacity-10 border-zinc-400">Date</th>
                <th class="px-3 py-2.5 border-t border-l border-solid bg-black bg-opacity-10 border-zinc-400">Statut</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="px-3 py-2.5 whitespace-nowrap border-t border-l border-solid bg-white bg-opacity-0 border-zinc-400">D001</td>
                <td class="px-3 py-2.5 border-t border-l border-solid bg-white bg-opacity-0 border-zinc-400">John Doe</td>
                <td class="px-3 py-2.5 whitespace-nowrap border-t border-l border-solid bg-white bg-opacity-0 border-zinc-400">500€</td>
                <td class="px-3 py-2.5 whitespace-nowrap border-t border-l border-solid bg-white bg-opacity-0 border-zinc-400">01/06/2024</td>
                <td class="px-3 py-2.5 whitespace-nowrap border-t border-l border-solid bg-white bg-opacity-0 border-zinc-400">Payée</td>
              </tr>
              <tr>
                <td class="px-3 py-2.5 whitespace-nowrap border-t border-l border-solid bg-white bg-opacity-0 border-zinc-400">D002</td>
                <td class="px-3 py-2.5 border-t border-l border-solid bg-white bg-opacity-0 border-zinc-400">John Doe</td>
                <td class="px-3 py-2.5 whitespace-nowrap border-t border-l border-solid bg-white bg-opacity-0 border-zinc-400">500€</td>
                <td class="px-3 py-2.5 whitespace-nowrap border-t border-l border-solid bg-white bg-opacity-0 border-zinc-400">01/06/2024</td>
                <td class="px-3 py-2.5 border-t border-l border-solid bg-white bg-opacity-0 border-zinc-400">En attente</td>
              </tr>
              <tr>
                <td class="px-3 py-2.5 whitespace-nowrap border-t border-l border-solid bg-white bg-opacity-0 border-zinc-400">D003</td>
                <td class="px-3 py-2.5 border-t border-l border-solid bg-white bg-opacity-0 border-zinc-400">John Doe</td>
                <td class="px-3 py-2.5 whitespace-nowrap border-t border-l border-solid bg-white bg-opacity-0 border-zinc-400">500€</td>
                <td class="px-3 py-2.5 whitespace-nowrap border-t border-l border-solid bg-white bg-opacity-0 border-zinc-400">01/06/2024</td>
                <td class="px-3 py-2.5 whitespace-nowrap border-t border-l border-solid bg-white bg-opacity-0 border-zinc-400">Payée</td>
              </tr>
            </tbody>
          </table>
        </section>
      </section>
    </main>
  </div>
</div>
{% endblock %}
